* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height:100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial;
    font-size: 10pt;
}

header {
    width: 100%;
    background-color: #1e90ff;
    color: #fff;
    align-self:flex-start;
    height: 30px;
}

#main {
    flex-grow: 1;
    height:auto;
    display: flex;
    flex-direction:column;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table td{
    padding: 3px;
}

#dataArea table {
    margin: 0 auto; 
    border-collapse: collapse;
    text-align: center;
    margin-bottom : 10px; 
}

#dataArea th{
    background-color:#8b8e92;
    height:25px;
}

#dataArea td {
    width:130px;
}


#dataArea table, #dataArea table th, #dataArea table td {
    border: 1px solid black; 
}

#dataTable tr:not(:first-child):hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

td input:not(#addRecordButton){
    width: 100%;
    box-sizing: border-box;
}

#paging{
    display:flex;
    justify-content:space-around;
}

footer {
    width: 100%;
    background-color: #1e90ff;
    color: #fff;
    align-self:flex-end;
    height: 20px;
}

button, #upload {
    background-color: #1e90ff;
    color: #ffffff; 
    font-size: 14px; 
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#editRecord, #addRecordButton{
    background-color: #1e90ff;
    color: #ffffff; 
    font-size: 10px; 
    padding: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#errorArea {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-width: 300px;
    text-align: center; 
}
